<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#10;#Wed Sep 16 13:09:33 BST 2009&#10;isMetamodelFileBased=true&#10;name=New&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;metamodelUri=&#10;type=EMF&#10;modelFile=/Co-Evo Examples/Refactorings/Push Down Feature/etl/After.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/Refactorings/Push Down Feature/After.ecore&#10;"/>
<listEntry value="#&#10;#Wed Sep 16 13:09:11 BST 2009&#10;isMetamodelFileBased=true&#10;name=Old&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;metamodelUri=&#10;type=EMF&#10;modelFile=/Co-Evo Examples/Refactorings/Push Down Feature/Before.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/Refactorings/Push Down Feature/Before.ecore&#10;"/>
</listAttribute>
<stringAttribute key="source" value="/Co-Evo Examples/Refactorings/Push Down Feature/etl/Push Down Feature.etl"/>
</launchConfiguration>
