<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#10;#Thu Mar 11 10:00:07 GMT 2010&#10;name=Source&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;isMetamodel=false&#10;type=MDR&#10;modelFile=/Co-Evo Examples/UML_Activities/14_to_22/Before.xmi&#10;isMetamodelFileRelative=true&#10;metamodelFile=/Co-Evo Examples/UML_Activities/14_to_22/Before.xml&#10;extent=UML&#10;isModelFileRelative=true&#10;"/>
<listEntry value="#&#10;#Thu Mar 11 10:00:20 GMT 2010&#10;isMetamodelFileBased=false&#10;name=Target&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;metamodelUri=http\://www.eclipse.org/uml2/3.0.0/UML&#10;type=EMF&#10;modelFile=/Co-Evo Examples/UML_Activities/14_to_22/etl/Transformed.uml&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<stringAttribute key="source" value="/Co-Evo Examples/UML_Activities/14_to_22/etl/TransformActivityGraph.etl"/>
</launchConfiguration>
