<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="connections"
            class="connections.ConnectionsPackage"
            genModel="model/Before.genmodel"/>
   </extension>

	<extension point="org.eclipse.emf.ecore.extension_parser">
	  <parser class="connections.resources.ConnectionsFactoryImpl" type="connections"/>
	</extension>
</plugin>
