<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="actionsAntlrAst"
            class="actionsAntlrAst.ActionsAntlrAstPackage"
            genModel="model/ActionsAntlrAst.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/gmt/epsilon/antlrAst"
            class="antlrAst.AntlrAstPackage"
            genModel="model/ActionsAntlrAst.genmodel"/>
   </extension>

</plugin>
