<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#10;#Wed Aug 05 11:28:38 BST 2009&#10;isMetamodelFileBased=true&#10;name=Migrated&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;metamodelUri=&#10;type=EMF&#10;modelFile=/Co-Evo Examples/FPTC/Connections/mig_lang/After.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/FPTC/Connections/After.ecore&#10;"/>
<listEntry value="#&#10;#Wed Aug 05 11:28:15 BST 2009&#10;isMetamodelFileBased=true&#10;name=Original&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;metamodelUri=&#10;type=EMF&#10;modelFile=/Co-Evo Examples/FPTC/Connections/Before.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/FPTC/Connections/Before.ecore&#10;"/>
</listAttribute>
<stringAttribute key="source" value="/Co-Evo Examples/FPTC/Connections/mig_lang/Connections.mig"/>
</launchConfiguration>
