<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<listAttribute key="models">
<listEntry value="#&#10;#Tue Sep 15 16:19:42 BST 2009&#10;isMetamodelFileBased=true&#10;name=New&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;metamodelUri=&#10;type=EMF&#10;modelFile=/Co-Evo Examples/Refactorings/Change Cont to Ref/etl/After.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/Refactorings/Change Cont to Ref/After.ecore&#10;"/>
<listEntry value="#&#10;#Tue Sep 15 16:19:27 BST 2009&#10;isMetamodelFileBased=true&#10;name=Old&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;metamodelUri=&#10;type=EMF&#10;modelFile=/Co-Evo Examples/Refactorings/Change Cont to Ref/Before.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/Refactorings/Change Cont to Ref/Before.ecore&#10;"/>
</listAttribute>
<stringAttribute key="source" value="/Co-Evo Examples/Refactorings/Change Cont to Ref/etl/Change Cont to Ref.etl"/>
</launchConfiguration>
