<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
<intAttribute key="migratedModel" value="1"/>
<listAttribute key="models">
<listEntry value="#&#10;#Fri Mar 12 13:38:25 GMT 2010&#10;isMetamodelFileBased=false&#10;name=Original&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;metamodelUri=http\://www.eclipse.org/gmf/2006/GenModel&#10;type=EMF&#10;modelFile=/Co-Evo Examples/GMF/GenModel2008/Before.model&#10;expand=false&#10;metamodelFile=/Co-Evo Examples/GMF/GenModel2008/Before.ecore&#10;"/>
<listEntry value="#&#10;#Fri Mar 12 13:38:32 GMT 2010&#10;isMetamodelFileBased=false&#10;name=Migrated&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;metamodelUri=http\://www.eclipse.org/gmf/2008/GenModel&#10;type=EMF&#10;modelFile=/Co-Evo Examples/GMF/GenModel2008/flock/After.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/GMF/GenModel2008/After.ecore&#10;"/>
</listAttribute>
<intAttribute key="originalModel" value="0"/>
<stringAttribute key="source" value="/Co-Evo Examples/GMF/GenModel2008/flock/GenModel2008.mig"/>
</launchConfiguration>
