<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="overview_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="overview_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="overview.diagram.part.OverviewDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/OverviewDiagramFile.gif"
         extensions="overview_diagram"
         default="true"
         class="overview.diagram.part.OverviewDiagramEditor"
         matchingStrategy="overview.diagram.part.OverviewMatchingStrategy"
         contributorClass="overview.diagram.part.OverviewDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="overview.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/OverviewDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="overview.diagram.part.OverviewCreationWizard"
  	     id="overview.diagram.part.OverviewCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="chapter.overview.diagrams.diagram.InitDiagram"
            nameFilter="*.overview"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="overview.diagram.part.OverviewInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="chapter.overview.diagrams.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OverviewPresentation">
         <Priority name="Lowest"/>
         <ViewId id="overview.diagram.part.OverviewDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="OverviewPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="overview.diagram.part.OverviewDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="OverviewPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="overview.diagram.part.OverviewDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OverviewRender">
         <Priority name="Lowest"/>
         <ViewId id="overview.diagram.part.OverviewDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="overview.diagram.providers.OverviewMarkerNavigationProvider">
         <MarkerType name="chapter.overview.diagrams.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Overview Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="overview.diagram.providers.OverviewValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="overview.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="chapter.overview.diagrams.diagram.general"
            name="%prefpage.chapter.overview.diagrams.diagram.general"
            class="overview.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="chapter.overview.diagrams.diagram.appearance"
            name="%prefpage.chapter.overview.diagrams.diagram.appearance"
            category="chapter.overview.diagrams.diagram.general"
            class="overview.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="chapter.overview.diagrams.diagram.connections"
            name="%prefpage.chapter.overview.diagrams.diagram.connections"
            category="chapter.overview.diagrams.diagram.general"
            class="overview.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="chapter.overview.diagrams.diagram.printing"
            name="%prefpage.chapter.overview.diagrams.diagram.printing"
            category="chapter.overview.diagrams.diagram.general"
            class="overview.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="chapter.overview.diagrams.diagram.rulersAndGrid"
            name="%prefpage.chapter.overview.diagrams.diagram.rulersAndGrid"
            category="chapter.overview.diagrams.diagram.general"
            class="overview.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="chapter.overview.diagrams.diagram"
            labelProvider="overview.diagram.sheet.OverviewSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="chapter.overview.diagrams.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="chapter.overview.diagrams.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="overview.diagram.sheet.OverviewPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="overview.diagram.navigator.OverviewAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="overview.diagram.providers.OverviewViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="overview"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Overview"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,2003"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="overview.diagram.providers.OverviewEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Overview"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,2003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002,5003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="overview.diagram.providers.OverviewModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="overview.diagram.edit.parts.OverviewEditPart" id="Overview_1000"/>
         <object class="overview.diagram.edit.parts.ChapterEditPart" id="Chapter_2001"/>
         <object class="overview.diagram.edit.parts.InputEditPart" id="Input_2002"/>
         <object class="overview.diagram.edit.parts.OutputEditPart" id="Output_2003"/>
         <context elements="Overview_1000,Chapter_2001,Input_2002,Output_2003"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="overview.diagram.providers.OverviewIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="overview.diagram.providers.OverviewParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="overview.diagram.providers.OverviewShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2001,2002,2003"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="overview">
         <metamodelType
               id="chapter.overview.diagrams.diagram.Overview_1000"
               name="%metatype.name.Overview_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Overview"
               edithelper="overview.diagram.edit.helpers.OverviewEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="overview">
         <metamodelType
               id="chapter.overview.diagrams.diagram.Chapter_2001"
               name="%metatype.name.Chapter_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Chapter"
               edithelper="overview.diagram.edit.helpers.ChapterEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="overview">
         <metamodelType
               id="chapter.overview.diagrams.diagram.Input_2002"
               name="%metatype.name.Input_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Input"
               edithelper="overview.diagram.edit.helpers.InputEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="overview">
         <metamodelType
               id="chapter.overview.diagrams.diagram.Output_2003"
               name="%metatype.name.Output_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Output"
               edithelper="overview.diagram.edit.helpers.OutputEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="overview">
         <specializationType
               id="chapter.overview.diagrams.diagram.InputChapteri_4001"
               name="%metatype.name.InputChapteri_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4001"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="overview">
         <specializationType
               id="chapter.overview.diagrams.diagram.OutputChaptero_4002"
               name="%metatype.name.OutputChaptero_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="4002"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="chapter.overview.diagrams.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="chapter.overview.diagrams.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="chapter.overview.diagrams.diagram.TypeContext">
         <elementType ref="chapter.overview.diagrams.diagram.Overview_1000"/>
         <elementType ref="chapter.overview.diagrams.diagram.Chapter_2001"/>
         <elementType ref="chapter.overview.diagrams.diagram.Input_2002"/>
         <elementType ref="chapter.overview.diagrams.diagram.Output_2003"/>
         <elementType ref="chapter.overview.diagrams.diagram.InputChapteri_4001"/>
         <elementType ref="chapter.overview.diagrams.diagram.OutputChaptero_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="chapter.overview.diagrams.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="chapter.overview.diagrams.diagram"
           properties="isURIEditorInput"
           class="overview.diagram.part.OverviewUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="chapter.overview.diagrams.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="chapter.overview.diagrams.diagram"
           properties="isShortcut"
           class="overview.diagram.part.OverviewShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="chapter.overview.diagrams.diagram.resourceContent"/>
			<contentExtension pattern="chapter.overview.diagrams.diagram.domainResourceContent"/>
            <contentExtension pattern="chapter.overview.diagrams.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="chapter.overview.diagrams.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="chapter.overview.diagrams.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="overview.diagram.navigator.OverviewNavigatorContentProvider" 
            labelProvider="overview.diagram.navigator.OverviewNavigatorLabelProvider"
            icon="icons/obj16/OverviewDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="overview_diagram"/>
               </and>
               <instanceof value="overview.diagram.navigator.OverviewAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="chapter.overview.diagrams.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="overview.diagram.navigator.OverviewAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="chapter.overview.diagrams.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="chapter.overview.diagrams.diagram.navigatorSorter" 
               class="overview.diagram.navigator.OverviewNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="overview_diagram"/>
                  </and>
                  <instanceof value="overview.diagram.navigator.OverviewAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="chapter.overview.diagrams.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="overview.diagram.navigator.OverviewDomainNavigatorContentProvider" 
            labelProvider="overview.diagram.navigator.OverviewDomainNavigatorLabelProvider"
            icon="icons/obj16/OverviewDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="overview"/>
               </and>
               <instanceof value="overview.diagram.navigator.OverviewDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="overview.diagram.navigator.OverviewDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="chapter.overview.diagrams.diagram.navigatorActionProvider"
            class="overview.diagram.navigator.OverviewNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="overview.diagram.navigator.OverviewAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="chapter.overview.diagrams.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="chapter.overview.diagrams.diagram.navigatorLinkHelper"
            class="overview.diagram.navigator.OverviewNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="chapter.overview.diagrams.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="overview.diagram.navigator.OverviewAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="overview.diagram.part.OverviewDiagramUpdateCommand"
         description="%update.diagram.description"
         id="overview.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="overview.diagram.updateDiagram"
         contextId="overview.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="chapter.overview.diagrams.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="overview.diagram.part.OverviewDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="overview.diagram.edit.parts.OverviewEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="overview.diagram.part.OverviewDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="chapter.overview.diagrams.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="overview.diagram.part.OverviewDiagramEditorID"
         defaultHandler="overview.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
