<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
<intAttribute key="migratedModel" value="1"/>
<listAttribute key="models">
<listEntry value="#&#10;#Mon Jan 17 16:06:38 GMT 2011&#10;isMetamodelFileBased=false&#10;name=Original&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;aliases=&#10;cached=true&#10;metamodelUri=lit_petriNets/before&#10;type=EMF&#10;modelFile=/Co-Evo Examples/Literature/PetriNets/Before.model&#10;expand=false&#10;metamodelFile=/Co-Evo Examples/Literature/PetriNets/Before.ecore&#10;"/>
<listEntry value="#&#10;#Mon Jan 17 16:06:25 GMT 2011&#10;isMetamodelFileBased=false&#10;name=Migrated&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;metamodelUri=lit_petriNets&#10;type=EMF&#10;modelFile=/Co-Evo Examples/Literature/PetriNets/mig_lang/After.model&#10;expand=true&#10;metamodelFile=/Co-Evo Examples/Literature/PetriNets/After.ecore&#10;"/>
</listAttribute>
<intAttribute key="originalModel" value="0"/>
<stringAttribute key="source" value="/Co-Evo Examples/Literature/PetriNets/mig_lang/PetriNets.mig"/>
</launchConfiguration>
